.homeMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 89vh;
  background-color: #170A28;
}

.homeContainer {
  display: flex;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 76vw;
  height: 89vh;
  /* background-color: chartreuse; */
}

.homeContentContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 38vw;
  height: 89vh;
  margin-right: 2vw;
  /* background-color: chocolate; */
}

.homeTitleContainer {
  margin-top: 5vh;
  margin-bottom: 12vh;
}

.homeTitle {
  font-size: 55px;
  font-weight: 900;
  color: #FFFFFF;
}

.homeTextContainer {
  margin-bottom: 5vh;
}

.homeText {
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 1.6;
}

.homeImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36vw;
  height: 89vh;
  /* margin-top: 6vh; */
  /* background-color: red; */
}

.homeImage {
  width: 35vw;
}
