.headerMainContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100vw;
  height: 11vh;
  background-color: #FFFFFF;
  border-bottom: 1px solid #D3D3D3;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 76vw;
  height: 11vh;
}

@media(max-width: 420px) {
  .headerContainer {
    width: 90vw;
  }
}
