.home {
  margin-bottom: 50px;
}

img.main-background-svg {
  width: 120%;
  margin: 77px 115px;
}

.main-background-svg {
  margin: auto auto;
}

.tab {
  text-align: justify;
  margin-bottom: -20px;
  font-size: 19px;
}

@media (max-width: 800px) {
  .home {
    margin-bottom: 50px;
    margin-top: 80px;
  }

  img.main-background-svg {
    width: 0%;
  }
}

@media (max-width: 400px) {
  .home {
    margin-bottom: 30px;
    margin-top: 60px;
  }
}

@media (max-width: 320px) {
  .home {
    margin-bottom: 0px;
    margin-top: 5px;
  }
}
