@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

.projectsMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 89vh;
  background-color: #FFFFFF;
}

.projectsContainer {
  display: flex;
  width: 76vw;
  height: 89vh;
}

.projectsContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 39vw;
  height: 89vh;
  margin-right: 2vw;
}

.projectsTitleContainer {
  margin-bottom: 7vh;
}

.projectsTitle {
  font-size: 55px;
  font-weight: 900;
  color: #FFFFFF;
}

.projectsSecondaryTitleContainer {
  margin-bottom: 7vh;
}

.projectsSecondaryTitle {
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
}

.projectsAppsContainer {
  margin-bottom: 3.5vh;
}

.projectsAppText {
	font-size: 25px;
  font-weight: 900;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

.projectsAppText:hover {
  color: #808080;
}

.projectsImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35vw;
  height: 89vh;
}

.projectsImage {
  width: 35vw;
}

@media (max-width: 1400px) {
  .projectsTitle {
    font-size: 50px;
  }

  .projectsSecondaryTitle {
    font-size: 19px;
  }

  .projectsAppText {
    font-size: 23.5px;
  }
}

@media(max-width: 1280px) {
  .projectsTitle {
    font-size: 45px;
  }

  .projectsSecondaryTitle {
    font-size: 18px;
  }

  .projectsAppText {
    font-size: 22px;
  }
}

@media(max-width: 420px) {
  .projectsContainer {
    width: 86vw;
    flex-direction: column;
  }

  .projectsContentContainer {
    width: 86vw;
    margin-right: 0vw;
  }

  .projectsImageContainer {
    width: 0vw;
    height: 0vh;
  }
  
  .projectsImage {
    width: 0vw;
  }

  .projectsTitle {
    font-size: 26px;
  }

  .projectsSecondaryTitle {
    font-size: 15px;
  }

  .projectsAppText {
    font-size: 17.5px;
  }
}

@media(max-width: 380px) {
  .projectsTitle {
    font-size: 23px;
  }

  .projectsSecondaryTitle {
    font-size: 13.5px;
  }

  .projectsAppText {
    font-size: 15.5px;
  }
}
