.headerSubContainers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2.5vw;
}

.headerButtonTitles {
  font-size: 18px;
  font-weight: 700;
  background-color: #FFFFFF;
  color: #0A1128;
  border: none;
  cursor: pointer;
}

.headerButtonTitles:hover {
  color: #808080;
}

@media (max-width: 1400px) {
  .headerButtonTitles {
    font-size: 17.5px;
  }
}

@media(max-width: 1280px) {
  .headerButtonTitles {
    font-size: 17px;
  }
}

@media(max-width: 420px) {
  .headerButtonTitles {
    font-size: 13.5px;
  }

  .headerSubContainers {
    margin-left: 3vw;
  }
}

@media(max-width: 380px) {
  .headerButtonTitles {
    font-size: 12.8px;
  }
}
